body {
    margin: 0;
    height: 294px;
    width: 240px;
    background-color: rgb(60, 62, 70);
    color: white;
    outline: 1px solid black;
    overflow: auto;
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

input,
select {
    background-color: rgb(30, 32, 50);
    color: white;
    border: none;
    padding: 3px;
    border-radius: 2px;
    height: 25px;
    font-size: 15px;
}

#image {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    height: 200px;
    background-color: red;
}

#result {
    margin: 50px 20px;
}

#result h2 {
    text-align: center;
}